snippet f Functions
	func ${1}(${2}) ${3} {
		${0}
	}

snippet fs Function for a struct
    func (this ${1}) ${2}(${3}) ${4} {
        ${0}
    }

snippet imp Import
	import "${0}"

snippet main  Main structure
    package main

    func main() {
        ${0}
    }
