snippet rac "React arrow component" b
const $1 = ($2) => {
  return (
    <$3>
      $4
    </$3>
  )
}

export default $1;
endsnippet

snippet caf "const = () => {  }" b
const $1 = ($2) => {
	$3;
};
endsnippet

snippet imp "import from ''" b
import ${2:{ $3 }} from '$1';
endsnippet

snippet af "() => {  }" b
($1) => { $2 }
endsnippet

snippet caaf "const = async () => {  }" b
const $1 = async ($2) => {
	$3;
};
endsnippet

snippet aaf "async () => {  }" b
async ($1) => { $2 }
endsnippet
