snippet beg "Begin environment" b
\begin{$1}
	$2
\end{$1}
endsnippet

snippet start "Boilerplate Document" b
% arara: pdflatex
\documentclass{article}
% TODO: Imports
\usepackage[utf8]{inputenc}
$1
% ---

% TODO: Commands
% ---

\begin{document}
	$2
\end{document}
endsnippet
